@model BayesApp.Models.TennisModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<h2>Supervised Machine Learning <span class="glyphicon glyphicon-wrench"></span></h2>

<div class="jumbotron">
    <p>Naive Bayes Classifier using <text style="color:royalblue">Accord.NET</text> and Mitchell's Tennis Example</p>

    <hr style="border-bottom:1px solid #808080" />

    <form method="post">

        <div class="row">
            <div class="col-md-3">OUTLOOK</div>
            <div class="col-md-3">@Html.RadioButton("Outlook", "Sunny") Sunny</div>
            <div class="col-md-3">@Html.RadioButton("Outlook", "Overcast") Overcast</div>
            <div class="col-md-3">@Html.RadioButton("Outlook", "Rain") Rain</div>
        </div>

        <div class="row">
            <div class="col-md-3">TEMPERATURE</div>
            <div class="col-md-3">@Html.RadioButton("Temperature", "Hot") Hot</div>
            <div class="col-md-3">@Html.RadioButton("Temperature", "Mild") Mild</div>
            <div class="col-md-3">@Html.RadioButton("Temperature", "Cool") Cool</div>
        </div>

        <div class="row">
            <div class="col-md-3">HUMIDITY</div>
            <div class="col-md-3">@Html.RadioButton("Humidity", "High") High</div>
            <div class="col-md-3">@Html.RadioButton("Humidity", "Normal") Normal</div>
            <div class="col-md-3">@Html.RadioButton("Humidity", "Normal") Low</div>
        </div>

        <div class="row">
            <div class="col-md-3">WIND</div>
            <div class="col-md-3">@Html.RadioButton("Wind", "Strong") Strong</div>
            <div class="col-md-3">@Html.RadioButton("Wind", "Medium") Medium</div>
            <div class="col-md-3">@Html.RadioButton("Wind", "Weak") Weak</div>
        </div>

        <hr style="border-bottom:1px solid #808080" />

        <div class="row">
            <div class="col-md-2">
                <input type="submit" value=" Should I play Tennis? " />
            </div>
            <div class="col-md-9 col-md-push-1">
                @{
                    //TEMPORARY
                    if (Request.HttpMethod == "POST" && ViewData.ModelState.IsValid)
                    {
                        if (Model.TennisAnswer[0] == "Yes")
                        {
                            <h3 style="color:forestgreen">@Model.TennisAnswer[0] (with @Model.TennisAnswer[1]% certainty).</h3>
                        }
                        else
                        {
                            <h3 style="color:red">@Model.TennisAnswer[0] (with @Model.TennisAnswer[2]% certainty).</h3>
                        }
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="color:red">
                @Html.ValidationSummary()
            </div>
        </div>
    </form>

</div>

<div class="jumbotron">
    <p>Linear Regression with <text style="color:royalblue">Accord.NET</text> & <text style="color:lightslategray">AlphaVantage Stocks API</text></p>
    @*<i>Not yet implemented.</i>*@
    <br />

    <button id="stocksBtn">Get Stocks</button>

    <script>
        $("#stocksBtn").on('click', function () {
            
            $.get('/Stocks', function () {

            });

        });
    </script>
</div>
